
<!--<div *ngIf="dataReady">-->
<!--  <ag-grid-angular-->
<!--    style="width: 500px; height: 500px;"-->
<!--    class="ag-theme-balham"-->
<!--    [rowData]="rowDataCopy"-->
<!--    [columnDefs]="columnDefs"-->
<!--  >-->
<!--    </ag-grid-angular>-->
<!--  </div>-->
<!--<input type="text" id="myInput" [(ngModel)]="searchWord" placeholder="Search for names.." >-->
<!--<button  (click)="onChangeSearchBar()">search</button>-->

<input type="text" [(ngModel)]="colName" placeholder="column name..">
<button (click)="onAddColumn()"> add column</button>


<button (click)="onAddRow()"> add row</button>
<div *ngIf="dataReady"  (mouseenter)="onChangeSearchBar()">
  <ag-grid-angular
    style="width: 1100px; height: 500px;"
    class="ag-theme-balham"
    [rowData]="rowDataCopy"
    [columnDefs]="columnDefs"
  >
  </ag-grid-angular>
</div>
