<div class="d-flex" id="wrapper">
  <!-- side -->
  <nav id = "sidebar" *ngIf="user">
    <div class = "sidebar-header">
      <h3>Navigation</h3>
    </div>
    <ul class="list-unstyled components">
      <li>
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Resources</a>
      </li>
      <li>
        <a class="nav-item nav-link" routerLink="/project" routerLinkActive="active">Project</a>
      </li>
    </ul>
  </nav>
  <div id="page-content-wrapper">
    <!-- nav -->
    <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top" *ngIf="user">
      <div class="navbar-nav">
        <input type="text" value="" class="form-control" placeholder="Search data">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
            Table Options
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Add Row</a>
            <a class="dropdown-item" href="#">Add Column</a>
            <a class="dropdown-item" href="#"> Import CSV <input
              type="file"
              name="datasource_upload"
              class="choose-file"
              id="datasource_upload"
              accept=".xlsx,.xls,.csv"
              ngf-max-size="20MB"
              fd-input
              (change)="handleDropedFile($event)"
            /></a>

          </div>
        </li>
      </div>
    </nav>

    <!-- main app container -->
    <div class="app-container" [ngClass]="{ 'bg-light': user }">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
