<div class="d-flex" id="wrapper">
  <!-- side -->
  <nav id="sidebar" *ngIf="user">
    <div class="sidebar-header">
      <h3>Navigation</h3>
    </div>
    <ul class="list-unstyled components">
      <li>
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Resources</a>
      </li>
      <li>
        <a class="nav-item nav-link" routerLink="/users/project">Project</a>
      </li>
      <li>
        <a class="nav-item nav-link" (click)="logout()">logout</a>
      </li>
    </ul>
  </nav>
  <h1>Dummy Global Header</h1>
  <div id="page-content-wrapper" class="container-fluid">
    <!-- nav -->

      <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title"
                id="modal-basic-title">
                Hi {{user.username}} !
            </h4>
            <button type="button" class="close"
                    aria-label="Close" (click)=
                    "modal.dismiss('Cross click')">

                <span aria-hidden="true">
                    ×
                </span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label>
                        Member Since:
                        <B>{{user.memberSince}}</B>
                    </label>

                </div>
            </form>
        </div>
    </ng-template>

    <!-- <button
        (click)="open(content)">  -->
        <!-- <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-user"></span> User
          </button> -->
          <a href="#" class="btn btn-danger btn-lg" (click)="open(content)" style="align-self:right;">
            <span class="glyphicon glyphicon-user"></span> User
          </a>
    <!-- </button>  -->


    <!-- main app container -->
    <div class="container-fluid" [ngClass]="{ 'bg-light': user }">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
