<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Resources</a>
        <a class="nav-item nav-link" routerLink="/users/project" routerLinkActive="active">Project</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
        <input type="text" value="" class="form-control" placeholder="Search data" (keyup)="handleSearchWord($event)" >
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
          Table Options
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="handleAddRow()" >Add Row</a>
            <a class="dropdown-item" (click)="handleAddColomn()">Add Column</a>
            <a class="dropdown-item" href="#">Import CSV <input
              type="file"
              name="datasource_upload"
              class="choose-file"
              id="datasource_upload"
              accept=".xlsx,.xls,.csv"
              ngf-max-size="20MB"
              fd-input
              (change)="handleDropedFile($event)"
            /></a>
          </div>
      </li>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

