/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';

html, body {
  height: 100%;
  width: 100%
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  cursor: pointer;
}

.app-container {
  //min-height: 320px;
  //overflow: hidden;
}

.btn-delete-user {
  width: 40px;
  text-align: center;
  box-sizing: content-box;
}

#page-content-wrapper {
  //min-width: 100vw;
  //width: 100%;
  //align-items: stretch;
}
